<p id="notice"><%= notice %></p>

<h1>Listing Agencies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Phone</th>
      <th>City</th>
      <th>State</th>
      <th>Zipcode</th>
      <th>Website</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agencies.each do |agency| %>
      <tr>
        <td><%= agency.name %></td>
        <td><%= agency.description %></td>
        <td><%= agency.phone %></td>
        <td><%= agency.city %></td>
        <td><%= agency.state %></td>
        <td><%= agency.zipcode %></td>
        <td><%= agency.website %></td>
        <td><%= link_to 'Edit', edit_agency_path(agency) %>     <%= link_to 'Remove', agency, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

