<%= form_for(@hospice) do |f| %>
  <% if @hospice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hospice.errors.count, "error") %> prohibited this hospice from being saved:</h2>

      <ul>
      <% @hospice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :passcode %><br>
    <%= f.text_field :passcode %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
